/*Header de los CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font-doom_UI-Regular";
}

:root {
  --color1: #de432c;
  --color2: #c93221;
  --color3: #b42216;
  --color4: #9e110b;
  --color5: #890000;
  --fondo1: url(../img/fondo_doom_eternal.jpg);
  --fonod2: url(../img/fondo_doom_eternal_2.jpg);
  --fondo3: url(../img/fondo2_doom_eternal.png);
  --fondo4: url(../img/doom_image_2.jpg);
  --fondo_slayer: url(../img/Doom_Slayer.webp);
  --fondo_slayer_hist:url(../img/argentos_doom_eternal.jpeg);
  --fondo_armas:url(../img/doom_image_1.jpg);
}

html {
  font-size: 10px;
}

body{
  background-color: #1c1c1c;
}

a {
  text-decoration: none;
  color:white
}

main {
  background-image: var(--fondo1);
  background-attachment: fixed;
  background-size: cover;
}

.nav-desktop {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-desktop a {
  font-family: "font-doom_UI-Bold";
  padding: 10% 10px;
  height: 100%;
  color: white;
  font-size: 2rem;
}

.nav-responsive{
  display: none;
}

.nav-desktop a:hover {
  background-color: var(--color5);
}

.subtitle{
  font-family: 'font-doom_logo-eternal';
}

.sub-title{
  font-size: 2rem;
}

.text{
  font-size: 2.5rem;
}

.color-white{
  color: white;
}

.sub-text{
  font-size: 1.5rem;
}



.logo-page {
  height: 100%;
}

.header {
  display: flex;
  background-color: rgba(0, 0, 0, 70%);
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 12;
}

.logo-page img {
  height: 80%;
  margin: 1rem;
}

.inicio {
  height: 100vh;
  background-repeat: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inicio-video {
  padding: 1rem;
  background-color: rgb(0 0 0 / 70%);
  width: 60%;
}

.inicio-video video {
  width: 100%;
}

.inicio-logo {
  width: 40%;
}

.inicio-logo img {
  width: 100%;
  height: 100%;
}

#hamburger {
  display: none;
  background-image: url(../img/btn_burger_nAct.png);
}

/* Esto es el contenido de la pagina */

.contet {
  display: flex;
  flex-direction: column;
}

.doom-eternal-expl {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  height: 90vh;
  background-image: var(--fondo4);
}

.doom-eternal-expl h3 {
  font-size: 6rem;
  font-family: 'font-doom_UI2-Bold';
}

.doom-eternal-expl article {
  width: 55%;
  font-size: 2.5rem;
  background-color: rgb(0 0 0 / 70%);
  padding: 4rem;
}

.historia {
  padding: 1rem;
  color: white;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  font-family: 'font-doom_logo-eternal';
}

.historia-caratulas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.caratula img {
  width: 35rem;
  padding: 20px;
}

.caratula figcaption {
  font-size: 3rem;
}

.estadis-slayer-title {
  height: 5vw;
}

.estadis-slayer .doom-slayer-img{
  display: none;
}

.estadis-slayer {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  justify-content: space-between;
  align-items: center;
  background-image: var(--fondo_slayer);
  background-size: cover;
  
  width: 100%;
  
}

.slayer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slayer img {
  height: 10rem;
  margin-top: 30px;
  opacity: .8;
}

.slayer-historia{
  background-image: var(--fondo_slayer_hist);
  background-size: cover;
  padding: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.slayer-historia-block{
  padding: 2rem;
  color: white;
  background-color: #0e0e0ec3;
  height: 80vh;
  width: 50%;
}

.slayer-historia-block h3{
  font-size: 2.3rem;
}

.slayer-historia img{
  display: none ;
}
.slayer-historia-block img{
  width: 100%;
}

/* CARRUSEL ARMAS */

.slayer-armas{
  background-image: var(--fondo_armas);
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.slayer-armas .armas-titulo{
  text-align: center;
  color: white;
  font-size: 5rem;
}

.slayer-armas .armas-carrusel{
  width: auto;
  height: auto;
}

img[src='./img/armas/DE_Crisol.webp']{
  height: 563px;
  width: 1000px;
}

/* Foooter */

footer {
  color: white !important;
  font-size: 2rem;
  background-color: #1F1F1F;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-info{
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-info .secti-logo{
  height: 100%;
  padding: 3rem;
}

.footer-info .secti-logo > img{
  height: 100%;
  max-height: 15rem;
}

.footer-info > .sections{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.footer-info-autor{
  height: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.footer-info-autor p{
  color:black;
  font-size: 1.3rem;
}

.footer-info .sections article p:nth-child(1){
  font-family: 'font-doom_UI-Bold';
}





/* MEDIA QUIERIES */

@media screen and (max-width: 768px) {
  
  /* Inicio */
  .nav-desktop{
    display: none;
  }

  .nav-responsive{
    display: flex;
    justify-content: center;
  }

  .nav-responsive button img{
    height: 100%;
  }

  .nav-responsive button:nth-child(1):hover{
    background-color: var(--color5);
  }

  .menu-responsive{
    display: flex;
    background-color: ;
    flex-direction: column;
  }

  .menu-text{
    width: 100%;
    font-size: 2rem;
  }

  .menu-color{
    background-color: rgb(0 0 0 / 95%);
  }


  .inicio {
    display: flex;
    flex-direction: column;
  }

  .inicio-logo {
    margin-top: 80px;
    width: 70%;
  }

  .inicio-video {
    padding: 10px;
    width: 100%;
  }

  /* ------------------ */

  /* Secciones */

  .doom-eternal-expl{
    flex-direction: column;
    padding: 1rem;
  }

  .doom-eternal-expl h3{
    width: 100%;
    font-size: 2rem;
  }

  .doom-eternal-expl article{
    width: 100%;
    padding: 1rem;
  }

  /* ____________________ */

  .historia{
    font-size: 2.4rem;;
  }
  .caratula img{
    width: 25rem;
  }
  /* ____________________ */

  .estadis-slayer-title{
    height: 8vh;
  }
  .estadis-slayer{
    background: none;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    padding: .5rem;
  }
  
  .estadis-slayer .slayer img{
    margin-top: 1rem;
    opacity: 1;
    width: 100%;
    height: 10vh;
  }

  .estadis-slayer .doom-slayer-img{
    display: block;
    height: 50vh;
    width: auto;
  }

  /* ____________________ */

  .slayer-historia{
    background: none;
    background-color: #1c1c1c;
    padding: 1rem;
    height: auto;
    flex-direction: column;
  }
  .slayer-historia-block{
    width: 100%;
    height: auto;
  }

  .slayer-historia img{
    width: 100%;
    display: block;
  }

    /* ____________________ */
  .slayer-armas{
    padding: 1rem;
  }
  .armas-titulo{
    font-size: 3rem !important;
  }
  .armas-carrusel{
    width: 100%;
  }


  /* Footer */
  .footer-info{
    flex-direction: column-reverse;
    padding: .9rem;
    font-size: 1.3rem;
  }

  .footer-info .sections{
    margin-top: 1rem;
    width: 100%;
    justify-content: space-evenly;
  }

  .footer-info-autor{
    display: inline-block;
  }

  .footer-info .secti-logo{
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
}