*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1:#de432c;
    --color2:#c93221;
    --color3:#b42216;
    --color4:#9e110b;
    --color5:#890000;
    --fondo1:url(../img/fondo_doom_eternal.jpg);
    --fonod2:url(../img/fondo_doom_eternal_2.jpg);
    --fondo3:url(../img/fondo2_doom_eternal.png);
}


.header{
    display: flex;
    background-color: rgba(0, 0, 0, 70%);
    justify-content: space-between;
    width: 100%;
    height: 85px;
    position: fixed;
}

.logo-page{
    height: 100%;
    width: 6%;
    /* background-color: black; */
}

.logo-page img{
    height: 100%;
    margin: 5px;
}

nav{
    height: 100%;
    background-color: aliceblue;
}

.inicio{
    background-image: var(--fondo1);
}