/*Header de los CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font-doom_UI-Regular";
}

:root {
  --color1: #de432c;
  --color2: #c93221;
  --color3: #b42216;
  --color4: #9e110b;
  --color5: #890000;
  --fondo1: url(../img/fondo_doom_eternal.jpg);
  --fonod2: url(../img/fondo_doom_eternal_2.jpg);
  --fondo3: url(../img/fondo2_doom_eternal.png);
  --fondo4: url(../img/doom_image_2.jpg);
  --fondo_slayer: url(../img/Doom_Slayer.webp);
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

main {
  background-image: var(--fondo1);
  background-attachment: fixed;
  background-size: cover;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

nav a {
  font-family: "font-doom_UI-Bold";
  padding: 10% 10px;
  height: 100%;
  color: white;
  font-size: 2rem;
}

nav a:hover {
  background-color: var(--color5);
}

.logo-page {
  height: 100%;
}

.header {
  display: flex;
  background-color: rgba(0, 0, 0, 70%);
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 12;
}

.logo-page img {
  height: 80%;
  margin: 1rem;
}

.inicio {
  height: 100vh;
  background-repeat: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.inicio-video {
  padding: 1rem;
  background-color: rgb(0 0 0 / 70%);
  width: 60%;
}

.inicio-video video {
  width: 100%;
}

.inicio-logo {
  width: 40%;
}

.inicio-logo img {
  width: 100%;
  height: 100%;
}

#hamburger {
  display: none;
  background-image: url(../img/btn_burger_nAct.png);
}

/* Esto es el contenido de la pagina */

.contet {
  display: flex;
  flex-direction: column;
}

.doom-eternal-expl {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  height: 90vh;
  background-image: var(--fondo4);
}

.doom-eternal-expl h3 {
  font-size: 6rem;
  font-family: 'font-doom_UI2-Bold';
}

.doom-eternal-expl article {
  width: 55%;
  font-size: 2.5rem;
  background-color: rgb(0 0 0 / 70%);
  padding: 4rem;
}

.historia {
  padding: 1rem;
  color: white;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  font-family: 'font-doom_logo-eternal';
}

.historia-caratulas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.caratula img {
  width: 35rem;
  padding: 20px;
}

.caratula figcaption {
  font-size: 3rem;
}

.estadis-slayer {
  background-color: #890000;
}

.estadis-slayer-title {
  height: 5vw;
}

.estadis-slayer {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  justify-content: space-between;
  align-items: center;
  background-image: var(--fondo_slayer);
  background-size: cover;
  
  width: 100%;
  
}

.slayer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slayer img {
  height: 10rem;
  margin-top: 30px;
  opacity: .8;
}

@media screen and (max-width: 560px) {
  .inicio {
    flex-direction: column;
  }

  nav {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.555);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
  }
  nav a {
    width: 100%;
    background-color: rgb(0 0 0 / 70%);
  }

  #hamburger {
    display: block;
  }

  .inicio-logo {
    margin-top: 80px;
    width: 70%;
  }

  .inicio-video {
    padding: 10px;
    width: 100%;
  }
}